body {
    background-color: black;
    font-family: "Roboto", sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.spacer {
    flex-grow: 1; /* The spacer takes up all available space */
}

.post {

    background-color: white;
    width: 69vh;
    height: 90vh;
    display: inline;
    border: 2px solid black;
}

.postHeader {
    display: flex;
    align-items: center;
    padding-right: 1%;
}

.profilePhoto {
    width: 11%;
    height: 11%;
    border-radius: 50%;
    padding-right: 2%;
}

.postPhoto {
    width: 100%;              
    height: 100%;             
    object-fit: cover;        
    object-position: center; 
}

.postIcons {
    display: flex;
    gap: 2.5%;
    padding-left: 1.5%;
    padding-right: 2%;
}

.postBody {
    padding: 1%;
}